  
.content.border
  .content__title.align-items-center.mb-3
    新規会員登録
  .content__text.border.mb-5
    アニレビュは、２８０文字以上の感想と評価でアニメを探せるレビューサイトです。
    %br/
    会員登録をすれば、アニメを見終えた感想の投稿ができます。
    %br/
    あなたもアニレビュで一緒にレビュー生活を始めましょう！
    
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field.my-5.border
    .field__name.mx-2.my-3
      = f.label :name, class:"content__name"
      .field__name__text.ml-2
        *12文字以内
      .field__required
        必須
      %br/
      .field__name__field
        = f.text_field :name, autofocus: true, class:"content__name__field ", autocomplete: "name"
        %span.error_name
    
      %br/
    .field__email.mx-2.my-3 
      = f.label :email, class:"content__email"
      .field__email__text.ml-2
        *半角英数字
      .field__email__required
        必須
      %br/
      = f.email_field :email,class:"content__email__field",  autofocus: true, autocomplete: "email"
      %span.error_email
    
    .field__pass.mx-2.my-3
      = f.label :password , class:"content__password"
      .field__pass__text.ml-2
        *8文字以上の半角英数字
      .field__pass__required
        必須
      %br/
      = f.password_field :password, class:"content__password__field", autocomplete: "new-password"
      %span.error_pass
      
    .field__pass2.mx-2.my-3
      = f.label :password_confirmation, class:"content__password2"
      .field__pass2__text.ml-2
        ※パスワード再入力
      .field__pass2__required
        必須
      %br/
      = f.password_field :password_confirmation, class:"content__password__confirm", autocomplete: "new-password"
      %span.error_pass2
      
    .actions
      = f.submit "登録する" , class:"submit"

