.anime
  .anime__text.py-3
    新規アニメの登録
  .anime__form.my-4
    = form_for @anime do |f|
      .anime__form__field
        = f.label :ジャンル, class:"genre__label"
        %span.genre__label__tag
          必須
        %br/  
        = f.collection_select(:category_id, @categories, :id, :name, class:"genre__field", :prompt => "選択して下さい")
        %br/
      .anime__form__field
        = f.label :作品画像, class:"image__label"
        %span.image__label__tag
          必須
        %br/
        = f.file_field :image, class:"image__field"

      .anime__form__field
        = f.label :アニメタイトル, class:"title__label"
        %span.title__label__tag
          必須
        %br/
        = f.text_field :title, autofocus: true, class:"title__field", placeholder: "アニメタイトルを入力して下さい"
      .anime__form__field
        = f.label :あらすじ, class:"detail__label"
        %span.detail__label__tag
          必須
        %br/
        = f.text_area :detail, autofocus: true, class: "detail__field", placeholder: "アニメのあらすじを入力してください", rows: "10", cols: "60"
      
      .anime__form__submit
        = f.submit "新規アニメ登録", class:"anime__submit"
  
  