.wrapper
  .navbar.navbar-expand-lg.navbar-dark.bg-dark
    %li.nav-item__battle
      バトル
    %li.nav-item__love
      恋愛
    %li.nav-item__school
      学園
    %li.nav-item__sf
      SF
    %li.nav-item__robot
      ロボット
    %li.nav-item__fantasy
      ファンタジー
    .navbar__right.d-flex
      -if user_signed_in? 
        = link_to "感想を投稿する" , new_anime_post_path(@anime), class:"nav-link__review"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link__logout", data: { confirm: "ログアウトしますか？"}
      -else
        = link_to "ログイン", new_user_session_path, method: :get,  class:"nav-link__login"
        = link_to "新規会員登録", new_user_registration_path, class:"nav-link__signup"      

  .header.d-flex.align-items-center.justify-content-around.shadow-sm
    .header__left.d-flex
      .header__left__title.d-flex.ml-3
        = link_to "アニレビュ", root_path
      .header__left__text.ml-5.mt-3
        理解が深まるレビューサイト！
        %br/
        自分に合ったアニメを探そう！
    .header__right.mr-5
      = text_field :title ,autofocus: true, placeholder:'タイトルを入力して下さい', class:"header__right__search"
      .header__right__btn.btn.btn-dark.rounded-pill.ml-2.mb-1
        検索
      .header__right__text.mt-2
        ＃ワンピース　　＃NARUTO　　＃BLEACH　　＃とらドラ
