.main__right.mx-3
  .main__right__box
    レビュー数上位ランキング
    - @all_ranks.each.with_index(1) do |anime, i|
      %ul.main__right__box__list
        %li.main__right__box__list__rank
          =link_to(anime_path(anime), class: "rank") do
            .main__right__box__list__rank__best
              第#{i}位
            .main__right__box__list__rank__image.my-3
              = image_tag anime.image.url
            .main__right__box__list__rank__title
              = anime.title

            %span.right__review__rate
              評価:  
              %span{:id => "rate-#{anime.id}"}
              :javascript
                $('#rate-#{anime.id}').raty({
                  size: 36,
                  starOff:  '#{asset_path('star-off.png')}',
                  starOn : '#{asset_path('star-on.png')}',
                  starHalf: '#{asset_path('star-half.png')}',
                  half: true,
                  readOnly: true,
                  score: #{anime.posts.average(:rate).to_f.round(1)}  
                });
              = anime.posts.average(:rate).to_f.round(1)
              .right__review__rate__count
                口コミ
                = "#{anime.posts.count}" + "件"
              .right__review__rate__genre
                = "ジャンル:#{anime.category.name}"

  .main__right__genre
    .main__right__genre__text.mx-3.my-3
      作品を探す
    .main__right__genre__category
      - @categories.each do |category|
        = link_to(categories_show_path(category), class: "battle")do
          = category.name