.slick.border
  人気の作品
  -@anime.each do |anime|
    .slick__block
      = link_to(anime_path(anime), class: "slick__link") do
        .slick__image.my-4
          = image_tag anime.image.to_s
          .slick__image__tag
            = anime.category.name
          .slick__image__title.my-1
            = anime.title
= render partial: "index"
.main
  = render partial: "right"
