.slick.py-3.px-3.border
  %div
    %h3 1
  %div
    %h3 2
  %div
    %h3 3
  %div
    %h3 4
  %div
    %h3 5
  %div
    %h3 6
  %div
    %h3 7
  %div
    %h3 8
  %div
    %h3 9
  %div
    %h3 10
  %div
    %h3 11
  %div
    %h3 12
.main.py-3.px-3
  .main__left
    アニメを観た作品の新着感想
    .main-review1.mt-3
      = link_to "BLEACH" , "#", class:"image1"
      .main-review__title
        今までとは違った面白さ
      .main-review__text
        始まり方がユニークまずもって一番最初の始まりが拘置所からって。主人公がまさ
        %br/
        かの不良で捕まっちゃってるよってところから始まるのはなかなか斬新でしたね。
        %br/
        しかも本人捕まったことに対して何にも悪びれることなくむしろ快適にすごしちゃ
        %br/
        ってるあたりがほんと肝が座っているというのかなんというのか。初めてのことじ
        %br/
        ゃないから・・・
    .main-review2.mt-3
      = link_to "BLEACH" , "#", class:"image1"
      .main-review__title
        今までとは違った面白さ
      .main-review__text
        始まり方がユニークまずもって一番最初の始まりが拘置所からって。主人公がまさ
        %br/
        かの不良で捕まっちゃってるよってところから始まるのはなかなか斬新でしたね。
        %br/
        しかも本人捕まったことに対して何にも悪びれることなくむしろ快適にすごしちゃ
        %br/
        ってるあたりがほんと肝が座っているというのかなんというのか。初めてのことじ
        %br/
        ゃないから・・・
    .main-review3.mt-3
      = link_to "BLEACH" , "#", class:"image1"
      .main-review__title
        今までとは違った面白さ
      .main-review__text
        始まり方がユニークまずもって一番最初の始まりが拘置所からって。主人公がまさ
        %br/
        かの不良で捕まっちゃってるよってところから始まるのはなかなか斬新でしたね。
        %br/
        しかも本人捕まったことに対して何にも悪びれることなくむしろ快適にすごしちゃ
        %br/
        ってるあたりがほんと肝が座っているというのかなんというのか。初めてのことじ
        %br/
        ゃないから・・・
    .main-review4.mt-3
      = link_to "BLEACH" , "#", class:"image1"
      .main-review__title
        今までとは違った面白さ
      .main-review__text
        始まり方がユニークまずもって一番最初の始まりが拘置所からって。主人公がまさ
        %br/
        かの不良で捕まっちゃってるよってところから始まるのはなかなか斬新でしたね。
        %br/
        しかも本人捕まったことに対して何にも悪びれることなくむしろ快適にすごしちゃ
        %br/
        ってるあたりがほんと肝が座っているというのかなんというのか。初めてのことじ
        %br/
        ゃないから・・・
    .main-review5.mt-3
      = link_to "BLEACH" , "#", class:"image1"
      .main-review__title
        今までとは違った面白さ
      .main-review__text
        始まり方がユニークまずもって一番最初の始まりが拘置所からって。主人公がまさ
        %br/
        かの不良で捕まっちゃってるよってところから始まるのはなかなか斬新でしたね。
        %br/
        しかも本人捕まったことに対して何にも悪びれることなくむしろ快適にすごしちゃ
        %br/
        ってるあたりがほんと肝が座っているというのかなんというのか。初めてのことじ
        %br/
        ゃないから・・・

  .main__right.mx-3
    .main__right__box.my-3
      人気の作品ランキング
      %ul.main__right__box__list
        %li.main__right__box__list__rank
          =link_to "1", "#"
          .main__right__box__list__rank__image
            = link_to "画像", "#" 
          .main__right__box__list__title
            BLEACH

      %ul.main__right__box__list
        %li.main__right__box__list__rank
          =link_to "1", "#"
          .main__right__box__list__rank__image
            = link_to "画像", "#" 
          .main__right__box__list__title
            BLEACH

      %ul.main__right__box__list
        %li.main__right__box__list__rank
          =link_to "1", "#"
          .main__right__box__list__rank__image
            = link_to "画像", "#" 
          .main__right__box__list__title
            BLEACH

      %ul.main__right__box__list
        %li.main__right__box__list__rank
          =link_to "1", "#"
          .main__right__box__list__rank__image
            = link_to "画像", "#" 
          .main__right__box__list__title
            BLEACH

      %ul.main__right__box__list
        %li.main__right__box__list__rank
          =link_to "1", "#"
          .main__right__box__list__rank__image
            = link_to "画像", "#" 
          .main__right__box__list__title
            BLEACH  
    
    .main__right__genre
      .main__right__genre__text.mx-3.my-3
        作品を探す
      .main__right__genre__category
        = link_to "バトル", "#", class:"battle"
        = link_to "恋愛", "#", class:"love"
        = link_to "学園", "#", class:"school"
        = link_to "SF", "#", class:"sf"
        = link_to "ロボット", "#", class:"robot"
        = link_to "ファンタジー", "#", class:"fantasy"
        
      