.review
  .review-wrapper
    .review__post.mb-3
      感想を投稿する
    .review__text.mb-3
      アニレビュは、作品についての理解を深めることをコンセプトとしたレビューサイトです。
      %br/
      作品についての新たな発見や見解、独自の解釈にある長文レビューを大歓迎しています。
      %br/
      そのため、200文字未満の感想は作品ページに表示されませんのでご了承ください。
      %br/
      感想を書くときは、作品への愛と作者への敬意を忘れず、必ず自分で観てから感想を書いて下さい。
      .review__select
        %i.fas.fa-search
        = link_to '作品を選ぶ', "#", class:"review__select__btn" 

        -# モーダルウインドウ内部
        .review__select__modal
          .review__select__modal__content
            .review__select__modal__close
              作品を選ぶ(タイトルを入力して下さい)
              %i.far.fa-window-close   
            .review__select__modal__content__search
              = search_field :title ,autofocus: true, placeholder:'タイトルを入力して下さい', class:"review__select__modal__content__search__field"
            .review__select__modal__content__title
              -@anime.each do |anime|
                %label{ for:"label", class:"label__field", data:{id: anime.id, title: anime.title, genre: anime.genre, image: anime.image.url}}
                  .review__select__modal__content__title
                    %img.review__select__modal__content__title__left
                      = image_tag anime.image_url, class:"anime__image"
                      .review__select__modal__content__title__right
                        .review__select__modal__content__title__right__title
                          = anime.title 
                        .review__select__modal__content__title__right__genre
                          = anime.genre
                          
      -#  隠しフォーム               
      -# .review__form
      -#   .review__form__anime
      -#     %img.review__form__anime__left
      -#       .review__form__anime__right
      -#         .review__form__anime__right__title
      -#           タイトル
      -#         .review__form__anime__right__genre
      -#           ジャンル

    = form_for [@post] do |f|
      = f.hidden_field :anime_id, value: @anime.ids
      .review__form__evalution     
        総合評価
      .form-group.review__form__title
        = f.text_field :title ,autofocus: true, placeholder:'タイトルを入力して下さい', class:"review__form__title"
        .review__form__title__field
          = f.text_area :review , autofocus: true, placeholder: '感想を入力して下さい', class:"review__form__field", rows:"13", cols:"94"
        .review__form__title__count.mb-4
          0文字（200文字未満の感想は作品ページに表示されませんのでご了承ください）
        .review__form__title__submit
          = f.submit "投稿する", class:"post-submit"

