.posts__new.p-3.my-3
  .posts__new__text
    感想を投稿する
  .posts__new__block
    %span.posts__new__block__left
      = image_tag @anime.image.url
    .posts__new__block__right
      .posts__new__block__right__title.mt-3
        = @anime.title
      .posts__new__block__right__genre.mt-3
        = "ジャンル: #{@anime.category.name}"
  = form_for [@post], url: anime_posts_path(@anime) do |f|
    .posts__new__block__form
      .posts__new__block__form__rate.mt-3.p-1#star
        = f.label :rate, '総合評価:', class: "posts__new__block__form__rate__label"
        = f.hidden_field :rate, id: :new__star
        = f.hidden_field :anime_id, value: @anime.id
      .posts__new__block__form__title
        = f.text_field :title, autofocus: true, class: "posts__new__block__form__title__field"
      .posts__new__block__form__review
        = f.text_area :review, autofocus: true, class: "posts__new__block__form__review__field",id: "new__anime__review",rows: "13", cols: "85"
      .posts__new__block__form__count#new__anime__count
        0文字
      .posts__new__block__form__submit
        = f.submit "投稿する", class: "posts__new__block__form__submit__btn"

= render partial: "rate"