.show__wrapper
  .show__wrapper__main
    = link_to("#", class: "show__wrapper__main__link")do
      .show__wrapper__main__anime.mb-3
        .show__wrapper__main__anime__image
          = image_tag @post.anime.image.url
        .show__wrapper__main__anime__item
          .show__wrapper__main__anime__item__title
            = @post.anime.title
          .show__wrapper__main__anime__item__count
            口コミ数
            = "#{@anime.posts.count}" + "件"
          .show__wrapper__main__anime__item__star
            %span.show__review__rate
              みんなの評価:  
              %span{:id => "show-rate-#{@post.id}"}
              :javascript
                $('#show-rate-#{@post.id}').raty({
                  size: 36,
                  starOff:  '#{asset_path('star-off.png')}',
                  starOn : '#{asset_path('star-on.png')}',
                  starHalf: '#{asset_path('star-half.png')}',
                  half: true,
                  readOnly: true,
                  score: #{@anime.posts.average(:rate).to_f.round(1)}  
                });
            = @anime.posts.average(:rate).to_f.round(1)
      
    .show__wrapper__main__review
      .show__wrapper__main__review__header.px-3.py-3
        %ul.show__wrapper__main__review__header__left
          %li.show__wrapper__main__review__header__left__name
            = @post.user.name
          %li.show__wrapper__main__review__header__left__date
            = @post.created_at.strftime("%Y年%m月%d日 %H時%M分")
          %span.show__wrapper__main__review__header__left__right
            参考になった！
        .show__wrapper__main__review__header__title
          = @post.title
        .show__wrapper__main__review__header__rate
          評価：
          %span{:id => "personal-rate-#{@post.id}"}
          :javascript
            $('#personal-rate-#{@post.id}').raty({
              size: 36,
              starOff:  '#{asset_path('star-off.png')}',
              starOn : '#{asset_path('star-on.png')}',
              starHalf: '#{asset_path('star-half.png')}',
              half: true,
              readOnly: true,
              score: #{@post.rate}  
            });
          = @post.rate
        .show__wrapper__main__review__header__text.mt-3
          = @post.review
      .show__wrapper__main__review__good
        - if user_signed_in?
          - if @post.favorited_by?(current_user)
            %p
            %span お気に入り解除:
            = link_to @post.favorites.count, post_favorites_path(@post.id), method: :delete
          - else 
            %p
            %span お気に入り登録:
            = link_to @post.favorites.count, post_favorites_path(@post.id), method: :post

      .show__wrapper__main__review__other
        .show__wrapper__main__review__other__text
          他のレビュアーの感想・評価
      - @anime.posts.shuffle.first(3).each do |post|
        .show__wrapper__main__review__other__block
          .show__wrapper__main__review__other__block__title
            = post.title
          .show__wrapper__main__review__other__block__text
            = post.review.truncate(175)
          -if post.review.length >= 175
            = link_to '>>続きを読む', anime_post_path(post.anime, post), class:'show__text__link'
          .show__wrapper__main__review__other__block__name
            = post.user.name
            %span.show__wrapper__main__review__other__block__time.mx-3
              = post.created_at.strftime("%Y年%m月%d日 %H時%M分")
            %span.show__wrapper__main__review__other__block__rate.mx-1
              評価:  
              %span{:id => "other-rate-#{post.id}"}
              :javascript
                $('#other-rate-#{post.id}').raty({
                  size: 36,
                  starOff:  '#{asset_path('star-off.png')}',
                  starOn : '#{asset_path('star-on.png')}',
                  starHalf: '#{asset_path('star-half.png')}',
                  half: true,
                  readOnly: true,
                  score: #{post.rate}
                });
            = post.rate
            %span.show__wrapper__main__review__other__block__length.mx-5
              = post.review.length.to_s + "文字"
.main.flex 
  = render partial: 'right'
  :css
    .main__right {
      position: absolute;
      top: 332px;
      right: 250px;
    }